<!-- <h1 style="text-align: center;">Counter App</h1> -->
<!-- <div style="text-align: center;">
   <h2 class="count">{{count}}</h2>
   <div>
       <button (click)="handleCounter('minus')" class="btn-Decrement">Decrement</button>
       <button (click)="handleCounter('reset')" class="btn-Reset">Reset</button>
       <button (click)="handleCounter('plus')" class="btn-Increment">Increment</button>

       <button (click)="handleEvent($event)">Click Event</button>
</div> 
</div> -->

<!-- <div 
(click)="handleEvent()"
(mouseenter)="handleEvent()"
style="background-color: aqua; height: 100px; width: 100px;">

</div> -->

<!-- <h1>Get and set input field values</h1>
<br>
<h1>User Name is :- {{name}}</h1>
<input type="text" (input)="getName($event)" placeholder="Enter User Name">
<br>
<br>
<button (click)="InputName()">Get Values</button> -->

<!-- @if(display)
{
    <div style="width: 200px; height: 200px; background-color: aquamarine;"></div>
}
<button (click)="showDiv()">Show Div</button>
<button (click)="hideDiv()">Hide Div</button>
<button (click)="toggle()">Toggle Div</button> -->

<!-- <button (click)="handleColor(1)">Red</button>
<button (click)="handleColor(2)">Green</button>
<button (click)="handleColor(3)">Yellow</button>
<button (click)="handleColor(10)">Black</button>
<input type="text" (input)="handleInput($event)" placeholder="Enter color number">
@if(color == 1)
{ 
    <div style="width: 200px; height: 200px; background-color: red;"></div>

}@else if(color == 2)
{
    <div style="width: 200px; height: 200px; background-color: green;"></div>

}@else if(color == 3)
{
    <div style="width: 200px; height: 200px; background-color: yellow;"></div>

}@else 
{
    <div style="width: 200px; height: 200px; background-color: black;"></div>
} -->

<h2>{{x}}</h2>
<button (click)="UpdateValue('inc')" type="button" class="btn btn-primary">+ </button>
<h2>{{count()}}</h2>
<button (click)="UpdateValue('dec')">-</button>
